In [6]:
import yaml
import pandas as pd

try:
    with open("../../config.yaml", "r") as file:
        config = yaml.safe_load(file)

    df_business_clean = pd.read_csv(config['data']['clean_data']['business_clean'], sep=";")
    df_economy_clean = pd.read_csv(config['data']['clean_data']['economy_clean'], sep=";")
    df_full_clean = pd.read_csv(config['data']['clean_data']['full_clean'], sep=";")
    

except FileNotFoundError:
    print("One or more CSV or YAML files not found!")

In [7]:
df_full_clean.head()

,airline,flight,from,to,duration,stops,class,lead_time_days,price
0,SpiceJet,SG-8709,Delhi,Mumbai,02:17:00,0,Economy,1,5953
1,SpiceJet,SG-8157,Delhi,Mumbai,02:33:00,0,Economy,1,5953
2,AirAsia,I5-764,Delhi,Mumbai,02:17:00,0,Economy,1,5956
3,Vistara,UK-995,Delhi,Mumbai,02:25:00,0,Economy,1,5955
4,Vistara,UK-963,Delhi,Mumbai,02:33:00,0,Economy,1,5955

In [8]:
df_economy_clean.head()

    airline   flight   from      to duration stops  dep_time  arr_time  price
0  SpiceJet  SG-8709  Delhi  Mumbai  2:10:00     0  18:55:00  21:05:00  5,953
1  SpiceJet  SG-8157  Delhi  Mumbai  2:20:00     0  06:20:00  08:40:00  5,953
2   AirAsia   I5-764  Delhi  Mumbai  2:10:00     0  04:25:00  06:35:00  5,956
3   Vistara   UK-995  Delhi  Mumbai  2:15:00     0  10:20:00  12:35:00  5,955
4   Vistara   UK-963  Delhi  Mumbai  2:20:00     0  08:50:00  11:10:00  5,955

In [5]:
df_business_clean.head()

     airline  flight   from      to duration stops  dep_time  arr_time   price
0  Air India  AI-868  Delhi  Mumbai  2:00:00     0  18:00:00  20:00:00  25,612
1  Air India  AI-624  Delhi  Mumbai  2:15:00     0  19:00:00  21:15:00  25,612
2  Air India  AI-531  Delhi  Mumbai  0:45:00     1  20:00:00  20:45:00  42,220
3  Air India  AI-839  Delhi  Mumbai  2:30:00     1  21:25:00  23:55:00  44,450
4  Air India  AI-544  Delhi  Mumbai  6:40:00     1  17:15:00  23:55:00  46,690

In [ ]:
# Get unique origins
origin_df = pd.DataFrame({"origin_id": range(1, df_full_raw["origin"].nunique() + 1),
                          "origin": df_full_raw["origin"].drop_duplicates().reset_index(drop=True)})

# Get unique destinations
destination_df = pd.DataFrame({"destination_id": range(1, df_full_raw["destination"].nunique() + 1),
                               "destination": df_full_raw["destination"].drop_duplicates().reset_index(drop=True)})

In [ ]:
# Merge origin with origin_df to get origin_id
flight_df = df_full_raw.merge(origin_df, how="left", left_on="origin", right_on="origin")

# Merge destination_city with destination_df to get destination_id
flight_df = flight_df.merge(destination_df, how="left", left_on="destination", right_on="destination")

In [ ]:
flight_df

In [ ]:
%run sql_table_itinerary.ipynb

flight_df = flight_df.merge(itinerary_df, how='left', left_on='origin_id', right_on='origin_id')
flight_df

In [ ]:
#flight_df.to_csv(config['data']['sql']['flight'], index=False, encoding="utf-8")