In [ ]:
import yaml
import pandas as pd
 
try:
    with open("../../config.yaml", "r") as file:
        config = yaml.safe_load(file)

    df = pd.read_csv(config['data']['clean_data']['full_clean'], sep=";")

except:
    print("Yaml configuration file not found!")

In [ ]:
df.head()

In [ ]:
class_df = pd.read_csv(config['data']['sql']['class'], sep=",")
flight_number_df = pd.read_csv(config['data']['sql']['number'], sep=",")
airline_name_df = pd.read_csv(config['data']['sql']['airline'], sep=",")

In [ ]:
class_df.head()

In [ ]:
flight_number_df.head()

In [ ]:
airline_name_df.head()

In [ ]:
ticket_df = df.merge(class_df, how="inner", left_on="class", right_on="class").merge(flight_number_df, how="inner", left_on="flight", right_on="flight_number").merge(airline_name_df, how="inner", left_on="airline", right_on="airline_name")

In [ ]:
ticket_df.head()

In [ ]:
ticket_df = ticket_df[['price','class_id','flight_number_id','airline_name_id']].drop_duplicates().reset_index(drop=True).reset_index()
ticket_df.columns = ['ticket_id', 'price','class_id','flight_number_id','airline_name_id']
ticket_df['ticket_id'] = ticket_df['ticket_id'] + 1
ticket_df

In [ ]:
#saving ticket table to csv to be exported to SQL

ticket_path = config["data"]["sql"]["ticket"]

ticket_df.to_csv(ticket_path, index=False, encoding="utf-8")