In [1]:
import yaml
import pandas as pd

try:
    with open("../config.yaml", "r") as file:
        config = yaml.safe_load(file)

    df_full_clean = pd.read_csv(config['data']['clean_data']['full_clean'], sep=";")

except:
    print("Yaml configuration file not found!")

In [2]:
# Get unique stops
stops_df = pd.DataFrame({"stops_id": range(1, df_full_clean["stops"].nunique() + 1),
                               "stops": df_full_clean["stops"].drop_duplicates().reset_index(drop=True)})

In [3]:
stops_df

   stops_id stops
0         1     0
1         2     1
2         3    2+