In [ ]:
import yaml
import pandas as pd
 
try:
    with open("../../config.yaml", "r") as file:
        config = yaml.safe_load(file)

    df_business = pd.read_csv(config['data']['raw_data']['business'])
    df_economy = pd.read_csv(config['data']['raw_data']['economy'])
    df_full = pd.read_csv(config['data']['raw_data']['full'])

except:
    print("Yaml configuration file not found!")

Analyzing 'business_csv'

In [ ]:
df_business.head()

Renaming 'time_taken' to 'duration'

In [ ]:
df_business.rename(columns={'time_taken': 'duration'}, inplace=True)

Adding column 'flight' by concatenating columns 'ch_code' and 'num_code'

In [ ]:
df_business['flight'] = df_business['ch_code'].astype(str) + '-' + df_business['num_code'].astype(str)

In [ ]:
df_business.head()

After spotting strange format in 'stop' column, checking for values in order to clean data.

In [ ]:
df_business["stop"].nunique()

In [ ]:
df_business["stop"].unique()

In [ ]:
df_business['stop'] = df_business['stop'].str.split('\n').str[0].str.strip()
df_business["stop"].unique()

In [ ]:
df_business.head()

Checking for null values and duplicates

In [ ]:
df_business.isnull().sum()

In [ ]:
df_business.duplicated().any()

Checking data types for all columns

In [ ]:
df_business.dtypes

In [ ]:
df_business.head()

Dropping 'date', 'ch_code' and 'num_code' columns + Saving clean dataframe to new file via yaml

In [ ]:
business_clean = df_business.drop(columns=["date", "ch_code", "num_code"])

In [ ]:
business_clean.head()

In [ ]:
#business_clean.to_csv(config['data']['clean_data']['business_clean'], index=False, sep=";", encoding="utf-8")

Analyzing 'economy_csv'

In [ ]:
df_economy.head()

Renaming 'time_taken' to 'duration'

In [ ]:
df_economy.rename(columns={'time_taken': 'duration'}, inplace=True)

Adding column 'flight' by concatenating columns 'ch_code' and 'num_code'

In [ ]:
df_economy['flight'] = df_economy['ch_code'].astype(str) + '-' + df_economy['num_code'].astype(str)

Checking column stop for same situation as previous dataframe

In [ ]:
df_economy["stop"].nunique()

In [ ]:
df_economy["stop"].unique()

In [ ]:
df_economy['stop'] = df_economy['stop'].str.split('\n').str[0].str.strip()
df_economy["stop"].unique()

Checking for null values, duplicates and data types

In [ ]:
df_economy.isnull().sum()

In [ ]:
df_economy.duplicated().any()

In [ ]:
df_economy.duplicated().sum()

In [ ]:
df_economy.drop_duplicates(inplace=True)

In [ ]:
df_economy.duplicated().any()

In [ ]:
df_economy.dtypes

Dropping 'date'+ Saving clean dataframe to new file via yaml

In [ ]:
economy_clean = df_economy.drop(columns=["date", "ch_code", "num_code"])

In [ ]:
#economy_clean.to_csv(config['data']['clean_data']['economy_clean'], index=False, sep=";", encoding="utf-8")

Analyzing 'full_data'

In [ ]:
df_full.head()

In [ ]:
df_full.dtypes

In [ ]:
df_full.isnull().any()

In [ ]:
df_full.duplicated().any()

In [ ]:
df_full = df_full.drop(columns=['Unnamed: 0'])

In [ ]:
df_full.head()

In [ ]:
df_full["departure_time"].unique()

In [ ]:
df_full["class"].unique()

Formatting 'duration' column to show hours and minutes

In [ ]:
df_full['duration'] = df_full['duration'].apply(lambda x: f"{int(x)}h {int(round((x - int(x)) * 100)):02d}m")
df_full.head()

Renaming 'days_left' to 'lead_time_days'

In [ ]:
df_full.rename(columns={'days_left': 'lead_time_days'}, inplace=True)

Saving clean dataframe via yaml

In [ ]:
#df_full.to_csv(config['data']['clean_data']['full_clean'], index=False, sep=";", encoding="utf-8")